# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
venv/
env/
.venv/

# Banco de dados
instance/
*.db
*.sqlite
*.sqlite3

# Flask
.env
flask_session/

# IDE
.vscode/
.idea/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db
desktop.ini

# Logs
*.log
logs/

# Temporarios
tmp/
temp/